* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Uncomment to view borders */
    /* border: solid red 1px; */
}

a:visited {
    color: #e5e7eb
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

img {
    background-image: none;
}

section {
    padding: 25px 300px;
}

/* Hero Navigation Bar */

.hero {
    height: 600px;
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.hero-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

nav .hero-links {
    display: flex;
    gap: 300px;
    font-size: 18px;
    font-weight: bold;
}

button {
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}

/* Hero Main */

.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.left {
    width: 1000px;
}

.left p {
    font-size: 18px;
    color: #e5e7eb;
}

.left button {
    margin-top: 20px;
}

.hero-main img {
    height: 450px;
}

/* Information */

.information {
    text-align: center;
    margin-bottom: 60px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-size: 24px;
}